NEXT_PUBLIC_SUPABASE_URL=https://bsqxpoggulzkagkeyaqs.supabase.co
SUPABASE_PROJECT_REF=bsqxpoggulzkagkeyaqs
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzcXhwb2dndWx6a2Fna2V5YXFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyODk2MDMsImV4cCI6MjEwMDg2NTYwM30.FlswFTQJmLfKhO2zD4aCyCDbM83N-nGw3NY7t7e-MFk
NEXT_PUBLIC_APP_URL=http://localhost:3000
LOG_LEVEL=info
SUPABASE_DB_PASSWORD=Adedunmade2017$
SUPABASE_ACCESS_TOKEN=REPLACE_ME
